body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.loadingArea {
  display: none;
  position: absolute;
  top: 32%;
  left: 42%;
  width: 0px;
  height: 0px;
  z-index: 9999;
  background: rgba(0, 60, 136, .5);
  filter: alpha(opacity=50);
  opacity: alpha*0.5;
  margin: auto;
  padding: 0;
  text-align: center
}