<!--Help Modal-->

<div class="ui modal dataDetail">
  <div class="header" style="text-align:center;">DeepVQL Detail : <span id="detailSpan"></span></div>
  <div class="content">
    <div id="detail" style="word-break:break-all;">      
    </div>
  </div>
</div>
