<!DOCTYPE html>
<html>

<% include ./headers/header %>

  <body>
    <!-- START OF LOADING DIV -->
    <div id="disableDiv" class="disableDiv" style="display:none"></div>
    <div id="div_load_image" class="loadingArea" style="display:none">
      <img src="/images/loading1.gif" style="width:400px; height:400px;">
    </div>
    <!-- END OF LOADING DIV -->

    <DIV class="outer-north"> 
      <div class="logo">
        <img src="/images/logo_info3.png" style="width:240px; height:70px;">
      </div>
      <div class="top-title">
        DeepVQL Demo
      </div>
    </DIV>

    <DIV class="outer-center" style="width:500px;">
      <div class="middle-north1" style="overflow-y: auto;">
        <div class="wrap2 left-top">
          <div id="cont0">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="first">VQL Simple</a>
              <a class="item" data-tab="second">VQL Complex</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
              <div class="ui styled accordion" style="width:100%;">
                <div class="title active">
                  <i class="dropdown icon"></i>
                  Step 1. Select Video
                </div>
                <div class="content active">
                  <div class="transition visible">
                    <div class="container">
                      <div id="thumbnail-sector" class="four column doubling ui grid" style="overflow: auto;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 2. Select Model
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step2_cont"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 3. Select Function
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step3_cont"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 4. Select Columns
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step4_cont">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
              VQL Temp
            </div>
          </div>
        </div>
      </div>
      <div class="middle-center1" style="overflow: auto;">
        <div class="wrap2 left-bottom">
          <div id="cont2" class="cus-cont">
            <div class="container">
              <div class="ui top attached tabular menu">
                <a class="active item" data-tab="third">Upload List</a>
                <a class="item" data-tab="forth">Upload</a>
              </div>
              <div class="ui bottom attached active tab segment" data-tab="third">
                <div style="margin-top:30px;">Upload File List</div>
                <table id="uploadFiles" class="ui striped table" style="table-layout: fixed;">
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 15%">
                    <col>
                    <col style="width: 35%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Category</th>
                      <th scope="col">Name</th>
                      <th scope="col">Thumbnail</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui bottom attached tab segment" data-tab="forth">
                <input type="file" id="fileInput" accept=".mp4">
                <button type="submit" id="sendButton">Submit</button>

                <div style="margin-top:30px;">Upload File List</div>
                <table id="tempFiles" class="ui striped table" style="table-layout: fixed;">
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 50%">
                    <col style="width: 25%">
                    <col style="width: 15%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Size</th>
                      <th scope="col">Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </DIV>

    <DIV class="outer-east">
      <div class="middle-north2">
        <div class="wrap2 right-top">
          <div id="cont1" class="cus-cont">
            <div class="sql-section top">
              <div class="sql-section top left">DeepVQL Simple</div>
              <div class="sql-section top right">
                <i class="big icon question circle test button" style="cursor:pointer;"></i>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">SELECT</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryColumns" placeholder="Select Columns...">
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">FROM</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryFrom" placeholder="Select Video...">
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">WHERE</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryWhere" placeholder="Select Function...">
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center; margin-top: 10px;">
              <div>
                <button type="button" class="ui button" onClick="reset();">reset</button>
              </div>
              <div style="width:5%;"></div>
              <div>
                <button type="button" class="ui primary button" onClick="execute();">Excute</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle-center2">
        <div class="wrap2 right-bottom">
          <div id="cont3" class="v-cont">
            <div style="width: 100%;text-align: center;font-size: 2em;line-height: 200px;">
              DeepVQL Query Result 
            </div>            
          </div>
        </div>
      </div>
    </DIV>
    
    <DIV class="ui-layout-south">
      <div class="footer-section">
        <div>
          Email : khyoo1221@gmail.com
        </div>
        <div>
          Copyright © 2022 InfoLab / Kunsan National University. 
        </div>
      </div>
    </DIV>

    <% include ./help %>
    <% include ./resultVideo %>
    <% include ./dataDetail %>
      

        <script type="text/javascript">
          let videoUrl = '';

          var outerLayout, middleLayout1, middleLayout2;

          $(document).ready(function () {
            outerLayout = $('body').layout({
              center__paneSelector: ".outer-center"
              , north__paneSelector: ".outer-north"
              , east__paneSelector: ".outer-east"
              // , center__size: "50%"
              , east__size: "50%"
              , spacing_open: 8 // ALL panes
              , spacing_closed: 12 // ALL panes
              , north__spacing_open: 0
              , south__spacing_open: 0
              , center__onresize: "middleLayout.resizeAll"
            });

            middleLayout1 = $('div.outer-center').layout({
              center__paneSelector: ".middle-center1"
              , north__paneSelector: ".middle-north1"

              , north__size: "65%"

              , spacing_open: 8  // ALL panes
              , spacing_closed: 12 // ALL panes		
            });

            middleLayout2 = $('div.outer-east').layout({
              center__paneSelector: ".middle-center2"
              , north__paneSelector: ".middle-north2"

              , north__size: "50%"

              , spacing_open: 8  // ALL panes
              , spacing_closed: 12 // ALL panes		
            });

          });

          $('.menu .item')
            .tab()
            ;

          $('.ui.accordion')
            .accordion()
            ;

          function selectVideo(val1, val2, idx) {
            //console.log(val1); console.log(val2);
            // 선택 영상에 대한 URL
            videoUrl = val2;

            $('.sel-Video').not(idx).css('border', '1px solid #000');
            $('.sel-Video').eq(idx).css('border', '4px solid #00A2FF');            
            $('.ui.accordion').accordion('open', 1);

            let tempFrom = "DMPROCEES('" + val1 + "',)";
            $('[name=queryFrom').val(tempFrom);

            fetch('http://api.urbanai.net:8000/sql_form')
              .then((response) => response.json())
              .then((data) => {

                let models = data && data.FROM.filter(item => item.video_id === val1);
                //console.log(models);

                let html = '<select name="sel_model" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                models[0].model_id.forEach(item => {
                  html += '<option value="' + item + '">' + item + '</option>';
                });
                html += '</select>';

                $('#step2_cont').html(html);

                $('[name=sel_model]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    let tempModel = $('[name=queryFrom').val();
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel)
                    $('.ui.accordion').accordion('open', 2);
                  },
                });
            });
          }

          const step1_init = () => {
            fetch('http://api.urbanai.net:8000/get_videos')
              .then((response) => response.json())
              .then((data) => {
                //console.log(data.videos[0][0]);

                let html = '', thumbHtml = '';
                let len = data.videos[0][0].video_name.length;
                for (var i = 0; i < len; i++) {
                  html += '<tr>';
                  html += '<td>' + (i + 1) + '</td>';
                  html += '<td>' + data.videos[0][0].category[i] + '</td>';
                  html += '<td>' + data.videos[0][0].video_name[i] + '</td>';
                  html += '<td>' + data.videos[0][0].thumbnail[i] + '</td>';
                  html += '</tr>';

                  thumbHtml += '<div class="column" style="text-align:center;">';
                  thumbHtml += '<button type="button" class="sel-Video" onClick="selectVideo(\'' + data.videos[0][0].video_name[i] + '\', \'' + data.videos[0][0].video_uri[i] + '\', ' + i + ')" >';
                  thumbHtml += '<img src="http://api.urbanai.net:8000' + data.videos[0][0].thumbnail[i] + '" width="150px" height="150px" />';
                  thumbHtml += '</button>';
                  thumbHtml += '<div>[' + data.videos[0][0].video_name[i] + ']</div>';
                  thumbHtml += '</div>';
                }
                $("#uploadFiles").append(html);

                $(".cus-cont").show();
                $('#thumbnail-sector').html(thumbHtml);
              });
          };

          step1_init();
          
          const step2_init = () => {
            fetch('http://api.urbanai.net:8000/models')
              .then((response) => response.json())
              .then((data) => {

                let html = '<select name="sel_model" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                data.models.forEach(item => {
                  html += '<option value="' + item.model_id + '">' + item.model_id + '</option>';
                });
                html += '</select>';

                $('#step2_cont').html(html);

                $('[name=sel_model]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    let tempModel = $('[name=queryFrom').val();                    
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel)
                    $('.ui.accordion').accordion('open', 2);
                  },
                });
              });
          };

          step2_init();
          
          const step3_init = () => {
            let html = '<select name="sel_func" class="ui fluid dropdown">';
            html += '<option value="">Select</option>';
            html += '<option value="01">DCross</option>';
            html += '<option value="02">DTravel</option>';
            html += '<option value="03">DMWithin</option>';
            html += '<option value="04">DSameFrameWithin</option>';
            html += '<option value="05">DTimeoverlap</option>';
            html += '</select>';

            $('#step3_cont').html(html);

            $('[name=sel_func]').dropdown({
              onChange: function (value, text, $selectedItem) {
                //console.log(text);
                $('.ui.accordion').accordion('open', 3);

                let tempWhere = text + "(traj,'Polygon([[0, 0], [1, 0], [1, 1], [0, 1], [0, 0]]')";
                $('[name=queryWhere').val(tempWhere);
              },
            });
          };

          step3_init();

          const step4_init = () => {
            let html = '<select name="sel_columns" multiple="" class="ui fluid dropdown">';
            html += '<option value="">Select</option>';
            html += '<option value="object_id">object_id</option>';
            html += '<option value="traj">traj</option>';
            html += '<option value="class_name">class_name</option>';
            html += '<option value="type">type</option>';
            html += '<option value="bbox">bbox</option>';
            html += '<option value="frame_id">frame_id</option>';
            html += '<option value="timestamp_ms">timestamp_ms</option>';
            html += '<option value="video_id">video_id</option>';
            html += '<option value="model_id">model_id</option>';
            html += '</select>';

            $('#step4_cont').html(html);

            $('[name=sel_columns]').dropdown({
              onChange: function (value, text, $selectedItem) {
                //console.log(value);
                $('[name=queryColumns').val(value);
              },
            });
          };

          step4_init();

          $('.ui.modal.help').modal({ blurring: true }).modal('attach events', '.test.button', 'show')

          function abbrText(value) {
            if (value.length > 10) {
              return value.substr(0, 10) + "...";
            } else {
              return value;
            }
          }

          function reset() {

            // $('[name=selectParam]').dropdown("clear");
            // $('[name=fromParam1]').dropdown("clear");
            // $('[name=fromParam2]').dropdown("clear");
            // $('[name=fromParam3]').dropdown("clear");
            // $('[name=whereParam1]').dropdown("clear");
            // $('[name=whereParam2]').val('');

            // $("#cont1").hide();
            // $("#cont2").hide();
            // $("#cont3").hide();
          }

          function execute() {  //console.log($('[name=queryColumns').val().split(','));

            fetch('http://api.urbanai.net:8000/squery', {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                SELECT: "*",
                FROM: "d_mprocess('id://sibuya_1hour','yolo_sibuya')",
                WHERE: "d_travel(itraj, ARRAY['POLYGON ((620 196, 631 208, 516 242, 507 229, 620 196))'])"
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data.task_id);
                test1122("http://api.urbanai.net:8000/search/"+data.task_id);
               
            });

            let queryColumns = $('[name=queryColumns').val().split(',');
            let htmlHeader = '';
            htmlHeader += '<table id="videoList" class="ui striped selectable celled table" style="table-layout: fixed; text-align: center; cursor:pointer;">';
            htmlHeader += '<colgroup>';
            // htmlHeader += '  <col>';
            queryColumns.forEach(item => {
              htmlHeader += '  <col>';
            });
            htmlHeader += '</colgroup>';
            htmlHeader += '<thead>';
            htmlHeader += '  <tr>';
            // htmlHeader += '    <th scope="col">No.</th>';
            queryColumns.forEach(item => {
              htmlHeader += '  <th scope="col">' + item + '</th>';
            });
            htmlHeader += '    <th scope="col">Play</th>';
            htmlHeader += '  </tr>';
            htmlHeader += '</thead>';
            htmlHeader += '<tbody>';
            htmlHeader += '</tbody>';
            htmlHeader += '</table>';         
            
            $("#cont3").html(htmlHeader);

            function test1122(val) {console.log(val);
            fetch(val)
              .then((response) => {
                return response.json();
              })
              .then((data) => {console.log(data);
                /* 데이터 처리 */
                if (data.task_status === "SUCCESS") {
                  const result = data.task_result[0][0];
                  const len = data.task_result[0][0].class_name.length;
                  let html = '';

                  for (let i = 0; i < len; i++) {
                    html += '<tr>';
                    // html += ' <td>';
                    // html += i + 1;
                    // html += ' </td>';
                    if(queryColumns.includes("object_id")) {
                    html += ' <td>';
                    html += abbrText(JSON.stringify(result.object_id[i]));
                    html += ' </td>';
                    }
                    if(queryColumns.includes("traj")) {
                    html += ' <td class="selectable">';
                    html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.traj[i])+ ');">';
                    html += abbrText(JSON.stringify(result.traj[i]));
                    html += '  </a>';
                    html += ' </td>';
                    }
                    if(queryColumns.includes("class_name")) {
                    html += ' <td>';
                    html += abbrText(JSON.stringify(result.class_name[i]));
                    html += ' </td>';
                    }
                    if(queryColumns.includes("type")) {
                    html += ' <td>';
                    html += abbrText(JSON.stringify(result.type[i]));
                    html += ' </td>';
                    }
                    if(queryColumns.includes("bbox")) {
                    html += ' <td class="selectable">';
                    html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.bbox[i])+ ');">';
                    html += abbrText(JSON.stringify(result.bbox[i]));
                    html += '  </a>';
                    html += ' </td>';
                    }
                    if(queryColumns.includes("frame_id")) {
                    html += ' <td class="selectable">';
                    html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.frame_id[i])+ ');">';
                    html += abbrText(JSON.stringify(result.frame_id[i]));
                    html += '  </a>';
                    html += ' </td>';
                    }
                    if(queryColumns.includes("timestamp_ms")) {
                    html += ' <td class="selectable">';
                    html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.timestamp_ms[i])+ ');">';
                    html += abbrText(JSON.stringify(result.timestamp_ms[i]));
                    html += '  </a>';
                    html += ' </td>';
                    }
                    if(queryColumns.includes("video_id")) {
                    html += ' <td>';
                    html += abbrText(JSON.stringify(result.video_id[i]));
                    html += ' </td>';
                    }
                    if(queryColumns.includes("model_id")) {
                    html += ' <td>';
                    html += abbrText(JSON.stringify(result.model_id[i]));
                    html += ' </td>';
                    }
                    html += ' <td>';
                    html += '  <button type="button" onClick="playbackClick()"><i class="play circle icon"></i></button>';
                    html += ' </td>';
                    html += '</tr>';
                  }
                  $('#videoList tbody').html(html)
                }
              })
              .catch((error) => console.error(error));
            }

            // $("#cont1").show();
            // $("#cont2").show();

            $('#videoList').on('click', 'tr', function (event) {
              var tr = $(this);
              var td = tr.children();

              // $('.ui.modal.resultVideo')
              //   .modal({ blurring: true })
              //   .modal('show')
              //   ;
              
              //   $(".v-cont").css("display", "flex");
              //   $("#video_origin").attr("src", videoUrl);
              //   $("#video_ai").attr("src", videoUrl);

              //alert(td.eq(8).text());
            });
          }

          function detailClick(val) { //console.log(val.toString());
            $('#detail').text("["+val.toString()+"]");

            $('.ui.modal.dataDetail')
              .modal({ blurring: true })
              .modal('show');
          }

          function playbackClick() {
            $(".v-cont").css("display", "flex");
            $("#video_origin").attr("src", videoUrl);
            $("#video_ai").attr("src", videoUrl);

            $('.ui.modal.resultVideo')
              .modal({ blurring: true })
              .modal('show');
          }

          // 비디오 파일 업로드 이벤트
          $("#fileInput").on("change", function () {
            let html = '';
            let len = $("#fileInput")[0].files.length;
            for (var i = 0; i < len; i++) {
              html += '<tr>';
              html += '<td>' + (i + 1) + '</td>';
              html += '<td>' + $("#fileInput")[0].files[i].name + '</td>';
              html += '<td>' + $("#fileInput")[0].files[i].size + '</td>';
              html += '<td>' + i + '</td>';
              html += '</tr>';
            }
            $("#tempFiles").append(html);
          });

          // 비디오 파일 전송 이벤트
          $("#sendButton").on("click", function () {
            $("#disableDiv").show();
            $("#div_load_image").show();
            var formData = new FormData();

            // form Data 객체 생성
            var len = $("#fileInput")[0].files.length;
            for (var i = 0; i < len; i++) {
              formData.append("file", $("#fileInput")[0].files[0]);
            }

            fetch('http://info.rlog.kr:33002/single/upload', {
              method: 'POST',
              cache: 'no-cache',
              body: formData
            })
              .then((response) => response.json())
              .then((data) => {
                //console.log(data);
                $("#disableDiv").hide();
                $("#div_load_image").hide();

                fetch("http://api.urbanai.net:8000/insert_video", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    type: "stream",
                    category: "traffic",
                    desc: "test",
                    video_name: $("#fileInput")[0].files[0].name,
                    video_uri: "http://info.rlog.kr:33002/" + data.filename + "?raw=true"
                  }),
                })
                  .then((response) => {
                    return response.json();
                  })
                  .then((data) => {
                    console.log(data);
                  })
                  .catch((error) => console.error(error));
              });
          });
        </script>

  </body>

</html>