<!DOCTYPE html>
<html>

<% include ./headers/header %>

  <body>
    <!-- START OF LOADING DIV -->
    <div id="disableDiv" class="disableDiv" style="display:none"></div>
    <div id="div_load_image" class="loadingArea" style="display:none">
      <img src="/images/loading1.gif" style="width:400px; height:400px;">
    </div>
    <!-- END OF LOADING DIV -->

    <DIV class="outer-north"> 
      <div class="logo">
        <img src="/images/logo_info3.png" style="width:240px; height:70px;">
      </div>
      <div class="top-title">
        DeepVQL Demonstration
      </div>
    </DIV>

    <DIV class="outer-center" style="width:500px;">
      <div class="middle-north1" style="overflow-y: auto;">
        <div class="wrap2 left-top">
          <div id="cont0">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="first">VQL Simple</a>
              <!--
              <a class="item" data-tab="second">VQL Complex</a>
              -->
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
              <div class="ui styled accordion simple" style="width:100%;">
                <div class="title active">
                  <i class="dropdown icon"></i>
                  Step 1. Select Video
                </div>
                <div class="content active">
                  <div class="transition visible">
                    <div class="container">
                      <div id="thumbnail-sector" class="four column doubling ui grid" style="overflow: auto;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 2. Select Model
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step2_cont"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 3. Select Tracker
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step3_cont"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 4. Select Function
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step4_cont"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 5. Select Columns
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step5_cont">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
              <div class="ui styled accordion complex" style="width:100%;">
                <div class="title active">
                  <i class="dropdown icon"></i>
                  Step 1. Select Video 1
                </div>
                <div class="content active">
                  <div class="transition visible">
                    <div class="container">
                      <div id="thumbnail-sector2" class="four column doubling ui grid" style="overflow: auto;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 2. Select Model 1
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step2_cont2"></div>
                  </div>
                </div>
                <div class="title active">
                  <i class="dropdown icon"></i>
                  Step 3. Select Video 2
                </div>
                <div class="content active">
                  <div class="transition visible">
                    <div class="container">
                      <div id="thumbnail-sector3" class="four column doubling ui grid" style="overflow: auto;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 4. Select Model 2
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step4_cont2"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 5. Select Function
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step5_cont2"></div>
                  </div>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Step 6. Select Columns
                </div>
                <div class="content">
                  <div class="transition hidden">
                    <div id="step6_cont2">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle-center1" style="overflow: auto;">
        <div class="wrap2 left-bottom">
          <div id="cont2" class="cus-cont">
            <div class="container">
              <div class="ui top attached tabular menu">
                <a class="active item" data-tab="third">Upload List</a>
                <a class="item" data-tab="forth">Upload</a>
              </div>
              <div class="ui bottom attached active tab segment" data-tab="third">
                <div style="margin-top:30px;">Upload File List</div>
                <table id="uploadFiles" class="ui striped table" style="table-layout: fixed;">
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 15%">
                    <col>
                    <col style="width: 35%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Category</th>
                      <th scope="col">Name</th>
                      <th scope="col">Thumbnail</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="ui bottom attached tab segment" data-tab="forth">
                <input type="file" value="File" id="fileInput" accept=".mp4">
                <button type="submit" id="sendButton">Submit</button>

                <div style="margin-top:30px;">Upload File List</div>
                <table id="tempFiles" class="ui striped table" style="table-layout: fixed;">
                  <colgroup>
                    <col style="width: 10%">
                    <col style="width: 50%">
                    <col style="width: 25%">
                    <col style="width: 15%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Size</th>
                      <th scope="col">Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </DIV>

    <DIV class="outer-east">
      <div class="middle-north2">
        <div class="wrap2 right-top">
          <div id="cont1" class="cus-cont">
            <div class="sql-section top">
              <div class="sql-section top left">DeepVQL Simple</div>
              <div class="sql-section top right">
                <i class="big icon question circle test button" style="cursor:pointer;"></i>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">SELECT</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryColumns" placeholder="Select Columns...">
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">FROM</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryFrom" placeholder="Select Video...">                  
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center;">
              <div style="width:20%; padding:10px; font-size:2em; font-weight:bold; text-align:center;">WHERE</div>
              <div style="width:80%; padding:8px;">
                <div class="ui input" style="width:100%;">
                  <input type="text" name="queryWhere" placeholder="Select Function...">
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:center; margin-top: 10px;">
              <div>
                <button type="button" class="ui button" onClick="reset();">reset</button>
              </div>
              <div style="width:5%;"></div>
              <div>
                <button type="button" class="ui primary button" onClick="execute();">Excute</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle-center2">
        <div class="wrap2 right-bottom">
          <div id="cont3" class="v-cont">
            <div style="width: 100%;text-align: center;font-size: 2em;line-height: 200px;">
              DeepVQL Query Result 
            </div>            
          </div>
        </div>
      </div>
    </DIV>
    
    <DIV class="ui-layout-south">
      <div class="footer-section">        
        <div style="font-size: 20px;margin: 5px 0px;">
          Copyright © 2022 InfoLab / Kunsan National University. 
        </div>
        <div>
          Email : khyoo1221@gmail.com
        </div>
      </div>
    </DIV>

    <% include ./help %>
    <% include ./resultVideo %>
    <% include ./dataDetail %>
      
        <script type="text/javascript">
          let upload_url = 'http://localhost:33002';
          let api_url = 'http://localhost:8000';

          let videoName = ''; 
          let videoUrl = '';         
          let modelName = '';

          var outerLayout, middleLayout1, middleLayout2;

          $(document).ready(function () {
            outerLayout = $('body').layout({
              center__paneSelector: ".outer-center"
              , north__paneSelector: ".outer-north"
              , east__paneSelector: ".outer-east"
              // , center__size: "50%"
              , east__size: "50%"
              , spacing_open: 8 // ALL panes
              , spacing_closed: 12 // ALL panes
              , north__spacing_open: 0
              , south__spacing_open: 0
              , center__onresize: "middleLayout.resizeAll"
            });

            middleLayout1 = $('div.outer-center').layout({
              center__paneSelector: ".middle-center1"
              , north__paneSelector: ".middle-north1"

              , north__size: "65%"

              , spacing_open: 8  // ALL panes
              , spacing_closed: 12 // ALL panes		
            });

            middleLayout2 = $('div.outer-east').layout({
              center__paneSelector: ".middle-center2"
              , north__paneSelector: ".middle-north2"

              , north__size: "50%"

              , spacing_open: 8  // ALL panes
              , spacing_closed: 12 // ALL panes		
            });

          });

          $('.menu .item')
            .tab()
            ;

          $('.ui.accordion.simple')
            .accordion()
            ;

          $('.ui.accordion.complex')
            .accordion()
            ;

          function selectVideo(val1, val2, idx) {
            console.log(val1); console.log(val2);
            // 선택 영상에 대한 URL
            videoName = val1;
            videoUrl = val2;
            
            $('.sel-Video').not(idx).css('border', '1px solid #000');
            $('.sel-Video').eq(idx).css('border', '4px solid #00A2FF');            
            $('.ui.accordion.simple').accordion('open', 1);

            let tempFrom = "D_MPROCESS('id://" + val1.split(".")[0] + "',)";
            $('[name=queryFrom').val(tempFrom);

            fetch(api_url + '/sql_form')
              .then((response) => response.json())
              .then((data) => {

                let models = data && data.FROM.filter(item => item.video_id === val1);
                //console.log(models);

                let html = '<select name="sel_model" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                models[0].model_id.forEach(item => {
                  html += '<option value="' + item + '">' + item + '</option>';
                });
                html += '</select>';

                $('#step2_cont').html(html);

                $('[name=sel_model]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    modelName = value;

                    let tempModel = $('[name=queryFrom').val();
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel)
                    $('.ui.accordion.simple').accordion('open', 2);
                  },
                });
            });
          }
          function selectVideo2(val1, val2, idx) {
            console.log(val1); console.log(val2);
            // 선택 영상에 대한 URL
            videoName = val1;
            videoUrl = val2;
            
            $('.sel-Video2').not(idx).css('border', '1px solid #000');
            $('.sel-Video2').eq(idx).css('border', '4px solid #00A2FF');            
            $('.ui.accordion.complex').accordion('open', 1);

            let tempFrom = "D_MPROCESS('id://" + val1.split(".")[0] + "',)";
            $('[name=queryFrom').val(tempFrom);

            fetch(api_url + '/sql_form')
              .then((response) => response.json())
              .then((data) => {

                let models = data && data.FROM.filter(item => item.video_id === val1);
                //console.log(models);

                let html = '<select name="sel_model2" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                models[0].model_id.forEach(item => {
                  html += '<option value="' + item + '">' + item + '</option>';
                });
                html += '</select>';

                $('#step2_cont2').html(html);

                $('[name=sel_model2]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    modelName = value;

                    let tempModel = $('[name=queryFrom').val();
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel)
                    $('.ui.accordion.complex').accordion('open', 2);
                  },
                });
            });
          }
          function selectVideo3(val1, val2, idx) {
            console.log(val1); console.log(val2);
            // 선택 영상에 대한 URL
            videoName = val1;
            videoUrl = val2;
            
            $('.sel-Video3').not(idx).css('border', '1px solid #000');
            $('.sel-Video3').eq(idx).css('border', '4px solid #00A2FF');            
            $('.ui.accordion.complex').accordion('open', 3);

            let tempFrom = "D_MPROCESS('id://" + val1.split(".")[0] + "',)";
            $('[name=queryFrom').val(tempFrom);

            fetch(api_url + '/sql_form')
              .then((response) => response.json())
              .then((data) => {

                let models = data && data.FROM.filter(item => item.video_id === val1);
                //console.log(models);

                let html = '<select name="sel_model3" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                models[0].model_id.forEach(item => {
                  html += '<option value="' + item + '">' + item + '</option>';
                });
                html += '</select>';

                $('#step4_cont2').html(html);

                $('[name=sel_model3]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    modelName = value;

                    let tempModel = $('[name=queryFrom').val();
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel)
                    $('.ui.accordion.complex').accordion('open', 4);
                  },
                });
            });
          }

          const step1_init = () => {
            fetch(api_url + '/get_videos')
              .then((response) => response.json())
              .then((data) => {
                //console.log(data.videos[0][0]);

                let html = '', thumbHtml = '', thumbHtml2 = '', thumbHtml3 = '' ;
                let len = data.videos[0][0].video_name.length;
                for (var i = 0; i < len; i++) {
                  html += '<tr>';
                  html += '<td>' + (i + 1) + '</td>';
                  html += '<td>' + data.videos[0][0].category[i] + '</td>';
                  html += '<td>' + data.videos[0][0].video_name[i] + '</td>';
                  html += '<td>' + data.videos[0][0].thumbnail[i] + '</td>';
                  html += '</tr>';

                  thumbHtml += '<div class="column" style="text-align:center;">';
                  thumbHtml += '<button type="button" class="sel-Video" onClick="selectVideo(\'' + data.videos[0][0].video_name[i] + '\', \'' + data.videos[0][0].video_uri[i] + '\', ' + i + ')" >';
                  thumbHtml += '<img src="'+ api_url + data.videos[0][0].thumbnail[i] + '" width="150px" height="150px" />';
                  thumbHtml += '</button>';
                  thumbHtml += '<div>[' + data.videos[0][0].video_name[i] + ']</div>';
                  thumbHtml += '</div>';

                  thumbHtml2 += '<div class="column" style="text-align:center;">';
                  thumbHtml2 += '<button type="button" class="sel-Video2" onClick="selectVideo2(\'' + data.videos[0][0].video_name[i] + '\', \'' + data.videos[0][0].video_uri[i] + '\', ' + i + ')" >';
                  thumbHtml2 += '<img src="' + api_url + data.videos[0][0].thumbnail[i] + '" width="150px" height="150px" />';
                  thumbHtml2 += '</button>';
                  thumbHtml2 += '<div>[' + data.videos[0][0].video_name[i] + ']</div>';
                  thumbHtml2 += '</div>';

                  thumbHtml3 += '<div class="column" style="text-align:center;">';
                  thumbHtml3 += '<button type="button" class="sel-Video3" onClick="selectVideo3(\'' + data.videos[0][0].video_name[i] + '\', \'' + data.videos[0][0].video_uri[i] + '\', ' + i + ')" >';
                  thumbHtml3 += '<img src="' + api_url + data.videos[0][0].thumbnail[i] + '" width="150px" height="150px" />';
                  thumbHtml3 += '</button>';
                  thumbHtml3 += '<div>[' + data.videos[0][0].video_name[i] + ']</div>';
                  thumbHtml3 += '</div>';
                }
                $("#uploadFiles").append(html);

                $(".cus-cont").show();
                $('#thumbnail-sector').html(thumbHtml);
                $('#thumbnail-sector2').html(thumbHtml);
                $('#thumbnail-sector3').html(thumbHtml);
              });
          };

          step1_init();
          
          const step2_init = () => {
            fetch(api_url + '/models')
              .then((response) => response.json())
              .then((data) => {

                let html = '<select name="sel_model" class="ui fluid dropdown">';
                html += '<option value="">Select</option>';
                data.models.forEach(item => {
                  html += '<option value="' + item.model_id + '">' + item.model_id + '</option>';
                });
                html += '</select>';

                $('#step2_cont').html(html);

                $('[name=sel_model]').dropdown({
                  onChange: function (value, text, $selectedItem) {
                    //console.log(value);
                    modelName = value;
                    
                    let tempModel = $('[name=queryFrom').val();                    
                    tempModel = tempModel.split(",")[0] + ", '" + value + "')";
                    $('[name=queryFrom').val(tempModel);
                    $('.ui.accordion.simple').accordion('open', 2);
                  },
                });
              });
          };

          step2_init();

          const step3_init = () => {
            let html = '<select name="sel_tracker" class="ui fluid dropdown">';
            html += '<option value="">Select</option>';
            html += '<option value="DEEPSORT">DEEPSORT</option>';
            html += '<option value="BYTETRACKER">BYTETRACKER</option>';
            html += '<option value="OCSORT">OCSORT</option>';
            html += '</select>';

            $('#step3_cont').html(html);

            $('[name=sel_tracker]').dropdown({
              onChange: function (value, text, $selectedItem) {
                //console.log(text);
                modelName = value;
                    
                let tempModel = $('[name=queryFrom').val();                    
                tempModel = tempModel.split(",")[0] + ", " + tempModel.split(",")[1] + ", '" + value + "')";
                $('[name=queryFrom').val(tempModel);
                $('.ui.accordion.simple').accordion('open', 3);
              },
            });
          };

          step3_init();
          
          const step4_init = () => {
            let html = '<select name="sel_func" class="ui fluid dropdown">';
            html += '<option value="">Select</option>';
            html += '<option value="01">D_cross</option>';
            html += '<option value="02">D_travel</option>';
            //html += '<option value="03">D_mwithin</option>';
            //html += '<option value="04">D_sameframewithin</option>';
            html += '<option value="05">D_timeoverlap</option>';
            html += '</select>';

            $('#step4_cont').html(html);

            $('[name=sel_func]').dropdown({
              onChange: function (value, text, $selectedItem) {
                //console.log(text);
                $('.ui.accordion.simple').accordion('open', 4);

                let tempWhere = text + "(itraj,ARRAY['POLYGON ((620 196, 631 208, 516 242, 507 229, 620 196))'])";
                $('[name=queryWhere').val(tempWhere);
              },
            });
          };
          
          step4_init();

          const step5_init = () => {
            let html = '<select name="sel_columns" multiple="" class="ui fluid dropdown">';
            html += '<option value="">Select</option>';
            html += '<option value="object_id">object_id</option>';
            html += '<option value="itraj">itraj</option>';
            html += '<option value="class_name">class_name</option>';
            html += '<option value="tracker_name">tracker_name</option>';
            html += '<option value="type">type</option>';
            html += '<option value="bbox">bbox</option>';
            html += '<option value="frame_id">frame_id</option>';
            html += '<option value="timestamp_ms">timestamp_ms</option>';
            html += '<option value="video_id">video_id</option>';
            html += '<option value="model_id">model_id</option>';
            html += '</select>';

            $('#step5_cont').html(html);

            $('[name=sel_columns]').dropdown({
              onChange: function (value, text, $selectedItem) {
                //console.log(value);
                $('[name=queryColumns').val(value);
              },
            });
          };

          step5_init();

          $('.ui.modal.help').modal({ blurring: true }).modal('attach events', '.test.button', 'show')

          function abbrText(value) {
            if (value.length > 10) {
              return value.substr(0, 10) + "...";
            } else {
              return value;
            }
          }

          function reset() {

            $('[name=sel_model]').dropdown("clear");
            $('[name=sel_tracker]').dropdown("clear");            
            $('[name=sel_func]').dropdown("clear");            
            $('[name=sel_columns]').dropdown("clear");

            $('.sel-Video').css('border', '1px solid #000'); 
            $('.ui.accordion.simple').accordion('open', 0);
            $('.ui.accordion.complex').accordion('open', 0);
            
            $('[name=queryColumns]').val('');
            $('[name=queryFrom]').val('');
            $('[name=queryWhere]').val('');

            const resultCont = '<div style="width: 100%;text-align: center;font-size: 2em;line-height: 200px;">DeepVQL Query Result</div>';

            $("#cont3").html(resultCont);
          }

          let intervalId;
          let timesArray;

          function execute() {  //console.log($('[name=queryColumns').val().split(','));
            $("#disableDiv").show();
            $("#div_load_image").show();
//console.log($('[name=queryFrom]').val());
//console.log($('[name=queryWhere]').val());
            let queryFrom = $('[name=queryFrom]').val();
            let queryWhere = $('[name=queryWhere]').val();

            timesArray = new Array();

            fetch(api_url + '/squery', {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                SELECT: "*",
                FROM: queryFrom,
                WHERE: queryWhere
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                //console.log(data.task_id);                
                intervalId = setInterval(() => executeAPI(data.task_id), 1000);
            });

            
            function executeAPI(val) {
              fetch(api_url + "/search/"+val)
                .then((response) => {
                  return response.json();
                })
                .then((data) => { console.log(data);                  
                  /* 데이터 처리 */
                  if (data.task_status === "SUCCESS") {
                    //setInterval 함수 종료
                    clearInterval(intervalId);

                    $("#disableDiv").hide();
                    $("#div_load_image").hide();

                    let queryColumns = $('[name=queryColumns').val().split(',');
                    let htmlHeader = '';
                    htmlHeader += '<table id="videoList" class="ui striped selectable celled table" style="table-layout: fixed; text-align: center; cursor:pointer;">';
                    htmlHeader += '<colgroup>';
                    // htmlHeader += '  <col>';
                    queryColumns.forEach(item => {
                      htmlHeader += '  <col>';
                    });
                    htmlHeader += '</colgroup>';
                    htmlHeader += '<thead>';
                    htmlHeader += '  <tr>';
                    // htmlHeader += '    <th scope="col">No.</th>';
                    queryColumns.forEach(item => {
                      htmlHeader += '  <th scope="col">' + item + '</th>';
                    });
                    htmlHeader += '    <th scope="col">Play</th>';
                    htmlHeader += '  </tr>';
                    htmlHeader += '</thead>';
                    htmlHeader += '<tbody>';
                    htmlHeader += '</tbody>';
                    htmlHeader += '</table>';         
                    
                    $("#cont3").html(htmlHeader);
                    
                    const result = data.task_result[0][0];
                    const len = data.task_result[0][0].class_name.length;
                    let html = '';

                    for (let i = 0; i < len; i++) {
                      html += '<tr>';
                      // html += ' <td>';
                      // html += i + 1;
                      // html += ' </td>';
                      timesArray.push(result.timestamp_ms[i]);
                      // console.log("timestamp");
                      // console.log(result.timestamp_ms[i]);
                      if(queryColumns.includes("object_id")) {
                      html += ' <td>';
                      html += abbrText(JSON.stringify(result.object_id[i]));
                      html += ' </td>';
                      }
                      if(queryColumns.includes("itraj")) {
                      html += ' <td class="selectable">';
                      html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.itraj[i])+ ', \'itraj\');">';
                      html += abbrText(JSON.stringify(result.itraj[i]));
                      html += '  </a>';
                      html += ' </td>';
                      }
                      if(queryColumns.includes("class_name")) {
                      html += ' <td>';
                      html += abbrText(JSON.stringify(result.class_name[i]));
                      html += ' </td>';
                      }
                      if(queryColumns.includes("type")) {
                      html += ' <td>';
                      html += abbrText(JSON.stringify(result.type[i]));
                      html += ' </td>';
                      }
                      if(queryColumns.includes("bbox")) {
                      html += ' <td class="selectable">';
                      html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.bbox[i])+ ', \'bbox\');">';
                      html += abbrText(JSON.stringify(result.bbox[i]));
                      html += '  </a>';
                      html += ' </td>';
                      }
                      if(queryColumns.includes("frame_id")) {
                      html += ' <td class="selectable">';
                      html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.frame_id[i])+ ', \'frame_id\');">';
                      html += abbrText(JSON.stringify(result.frame_id[i]));
                      html += '  </a>';
                      html += ' </td>';
                      }
                      if(queryColumns.includes("timestamp_ms")) {
                      html += ' <td class="selectable">';
                      html += '  <a href="#" onClick="detailClick(' +JSON.stringify(result.timestamp_ms[i])+ ', \'timestamp_ms\');">';
                      html += abbrText(JSON.stringify(result.timestamp_ms[i]));
                      html += '  </a>';
                      html += ' </td>';
                      }
                      if(queryColumns.includes("video_id")) {
                      html += ' <td>';
                      html += abbrText(JSON.stringify(result.video_id[i]));
                      html += ' </td>';
                      }
                      if(queryColumns.includes("model_id")) {
                      html += ' <td>';
                      html += abbrText(JSON.stringify(result.model_id[i]));
                      html += ' </td>';
                      }
                      html += ' <td>';
                      html += '  <button type="button" onClick="playbackClick(' + i + ')"><i class="play circle icon"></i></button>';
                      html += ' </td>';
                      html += '</tr>';
                    }
                    $('#videoList tbody').html(html)
                    // console.log(timesArray);
                    
                  }
                })
                .catch((error) => console.error(error));                
            }            
          }

          function detailClick(val, val2) { console.log(val2);
            $('#detailSpan').text(val2);
            $('#detail').text("["+val.toString()+"]");

            $('.ui.modal.dataDetail')
              .modal({ blurring: true })
              .modal('show');
          }

          function playbackClick(idx) {            
            let startTime = timesArray[idx][0]/1000;
                    
            $(".v-cont").css("display", "flex");
            $("#video_origin").attr("src", videoUrl+"#t="+startTime);
                      
            const videoConvertUrl = upload_url + "/convert/"+ videoName.split(".")[0] + "_" + modelName + ".mp4#t="+startTime;//console.log(videoConvertUrl);
            $("#video_ai").attr("src", videoConvertUrl);
            $("#modelSpan").text(modelName);

            $('.ui.modal.resultVideo')
              .modal({ blurring: true })
              .modal('show');
          }          

          // 비디오 파일 업로드 이벤트
          $("#fileInput").on("change", function () {
            let html = '';
            let len = $("#fileInput")[0].files.length;
            for (var i = 0; i < len; i++) {
              html += '<tr>';
              html += '<td>' + (i + 1) + '</td>';
              html += '<td>' + $("#fileInput")[0].files[i].name + '</td>';
              html += '<td>' + $("#fileInput")[0].files[i].size + '</td>';
              html += '<td>' + i + '</td>';
              html += '</tr>';
            }
            $("#tempFiles").append(html);
          });

          // 비디오 파일 전송 이벤트
          $("#sendButton").on("click", function () {
            $("#disableDiv").show();
            $("#div_load_image").show();
            var formData = new FormData();

            // form Data 객체 생성
            var len = $("#fileInput")[0].files.length;
            for (var i = 0; i < len; i++) {
              formData.append("file", $("#fileInput")[0].files[0]);
            }

            fetch(upload_url + '/single/upload', {
              method: 'POST',
              cache: 'no-cache',
              body: formData
            })
              .then((response) => response.json())
              .then((data) => {
                //console.log(data);
                $("#disableDiv").hide();
                $("#div_load_image").hide();

                fetch(api_url + "/insert_video", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    type: "stream",
                    category: "traffic",
                    desc: "test",
                    video_name: $("#fileInput")[0].files[0].name,
                    video_uri: upload_url + data.filename + "?raw=true"
                  }),
                })
                  .then((response) => {
                    return response.json();
                  })
                  .then((data) => {
                    console.log(data);
                  })
                  .catch((error) => console.error(error));
              });
          });
        </script>

  </body>

</html>