<!--Help Modal-->
<div class="ui modal">
  <div class="header">UrbanAI SQL Help</div>
  <div class="scrolling content">
    <div id="cont3" class="v-cont">
      <div class="v-cont-org">
        <div style="margin-top:30px;font-size: 1.5em;font-weight: bold;text-align: center;">Original Video</div>
        <video id="video_origin" width="100%" height="70%" src="http://info.rlog.kr:33002/824a641fda8a75c9c9913c8f76fa4df3" autoplay loop muted>
        </video>
      </div>
      <div class="v-cont-ai">
        <div style="margin-top:30px;font-size: 1.5em;font-weight: bold;text-align: center;">Result Video</div>
        <video id="video_ai" width="100%" height="70%" src="http://info.rlog.kr:33002/8f32a1f18baad0507ffaff2b18a25d4f" autoplay loop muted>
        </video>
      </div>
    </div>
  </div>
</div>