<!--Help Modal-->
<div class="ui modal help">
    <div class="header">DeepVQL Help</div>
    <div class="scrolling content">
      <pre>
        Spatial Query 

        Q1. Find moving_objects crossing a specific Line.

        SELECT *
        FROM d_mprocess('id://{video_id}','{model_id}','{tracker_name}’) 
        WHERE d_cross(itraj,'{CROSS WKT}’)

        Q2. Find moving_objects traveling in a specific direction. 

        SELECT *
        FROM d_mprocess('id://{video_id}','{model_id}','{tracker_name}’)
        WHERE d_travel(itraj,ARRAY['{travel WKT}’])

        Q2-1 find moving_objects uturn in shibuya_7_8 
        SELECT * 
        FROM d_mprocess('id://shibuya_{7}_{8}','yolo_shibuya','{tracker_name}’)
        WHERE d_travel(itraj,ARRAY['{uturn WKT}’])

        Temporal Query

        Q3. find moving_objects in traffic video period $t1 $t2 (base unit 1000ms)
        SELECT *
        FROM d_mprocess(‘{id://video_name}','{model_id}','{tracker_name}’) 
        WHERE d_timeoverlap(timestamp_ms,$t1,$t2)

        Spatio-Temporal Query

        Q4. find moving_objects cross in traffic video period $t1 $t2 (base unit 1000ms)

        SELECT *
        FROM d_mprocess('id://{}_{}_{}','yolo_shibuya’)
        WHERE d_cross(itraj,'{CROSS WKT}') AND d_timeoverlap(timestamp_ms,$t1,$t2)

        Q5. find moving_objects travel video period $t1 $t2 (base unit 1000ms)

        SELECT *
        FROM d_mprocess('id://shibuya_{}_{}','yolo_shibuya’)
        WHERE d_travel(itraj,ARRAY['{travel WKT}']) AND d_timeoverlap(timestamp_ms,$t1,$t2)

      </pre>
    </div>
  </div>