<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>
  <body>
    <div id="div_load_image" class="loadingArea">
      <img src="/images/loading1.gif" style="width:400px; height:400px;">
    </div>
    
    <input type="file" id="fileInput" multiple>
    <button type="submit" id="sendButton">전송</button>
 
    <script>
        const fileInput = document.querySelector("#fileInput");
        const sendButton = document.querySelector("#sendButton");
 
        sendButton.addEventListener("click",function(){
 
          $("#div_load_image").show();
            var formData = new FormData();
            
            // form Data 객체 생성
            var len = fileInput.files.length;
            for(var i=0; i<len; i++) {
              formData.append("file", fileInput.files[i]);
            }
            
            fetch('/multipart/upload', {
                method: 'POST',
                cache: 'no-cache',
                body: formData 
            })
            .then((response) => response.json())
            .then((data) => {
                //console.log(data);
                $("#div_load_image").hide();                
                alert("업로드를 완료했습니다");
            });
        });
 
    </script>
  </body>
</html>
